.bannersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4%; /* Gap between items */
  justify-content: space-between; /* Ensure even spacing */
}

.bannerContainer {
  flex: 1 1 calc(48% - 4%); /* Adjusted for gap */
  min-width: 100px; /* Minimum width for responsive design */
  max-width: 48%; /* Maximum width for each item */
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 40px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Prevent image from repeating */
}

.bannerImage {
  width: 40%;
  height: auto;
  border-radius: 8px;
}

.bannerTitle {
  font-size: 1.5rem;
  margin: 10px 0;
  color: black;
}

.bannerDescription {
  font-size: 1rem;
  margin: 10px 0;
  color: black;
}

.bannerCTA {
  padding: 10px 20px;
  background-color: #0070f3;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: black;
}

.modalContainer {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
}

.modalInput {
  margin-bottom: 15px;
}
